Repository l50/dotfiles, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/license, area/readme, area/taskfiles, area/tests, area/files, area/templates, area/aws, area/gcloud, area/go, area/python, area/terraform, area/autocomplete, area/bashutils, area/common, area/containers, area/k8s, area/keeper, area/1password, area/android, area/macos, area/dotfiles, area/style

Refactored: Improve indentation across multiple files
  common
  terraform
  tests/test-aws.bats
  tests/test-bashutils.bats
  tests/test-go.bats
  tests/test-macos.bats
  tests/test_get_latest_ami.bats
Labels: area/tests, area/terraform, area/common

Refactor: Improve script readability and maintainability
  .pre-commit-config.yaml
  cloud/aws/sg.sh
Labels: area/pre-commit, area/aws

Refactor: Improved Code Efficiency and Added Shellcheck Annotations
  cloud/aws/acm.sh
  cloud/aws/ec2.sh
  cloud/aws/iam.sh
  cloud/aws/s3.sh
  cloud/aws/sg.sh
  cloud/aws/vpc.sh
  tests/test-bashutils.bats
Labels: area/tests, area/aws

Refactor: Improve Code Style and Streamline Tests
  .pre-commit-config.yaml
  bashutils
  tests/test-bashutils.bats
Labels: area/pre-commit, area/tests, area/bashutils

Refactored Code and Test Improvements
  .hooks/prettier.sh
  .hooks/run-shfmt.sh
  cloud/aws/acm.sh
  cloud/aws/ec2.sh
  cloud/aws/iam.sh
  cloud/aws/s3.sh
  cloud/aws/sg.sh
  cloud/aws/vpc.sh
  files/mage_completion.sh
  tests/test-bashutils.bats
Labels: area/tests, area/files, area/aws

Created new AWS test structure with improved organization and functionality.
  tests/cloud/aws/ec2.bats
  tests/cloud/aws/sg.bats
  tests/test-aws.bats
  tests/test-go.bats
Labels: area/tests

Add missing requirements.txt file for PC action
  .hooks/requirements.txt
Labels: none

Fixed pre-commit action; modernized parts of the dotfiles tests action
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

Fixed tests so there aren't five of them running for a PR
  .github/workflows/tests.yaml
Labels: area/github

Dynamically add BATS tests for AWS EC2 & SG functions
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

Dynamically add BATS tests for AWS EC2 & SG functions
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Labels: area/github

Fix install file failure in pre-commit action
  .github/workflows/pre-commit.yaml
Labels: area/github

Dynamically add BATS tests for AWS EC2 & SG functions
  install_dot_files.sh
Labels: area/dotfiles

Fixed bats test names
  tests/test-go.bats
Labels: area/tests

Added task files to gitignore
  .github/workflows/pre-commit.yaml
  .gitignore
Labels: area/github

Add check_disk_spoace and tests
  bashutils
  tests/test-bashutils.bats
Labels: area/tests, area/bashutils

Attempt to fix broken pre-commit action
  .github/workflows/pre-commit.yaml
Labels: area/github

Fixed naming of bashutils tests
  tests/test-bashutils.bats
Labels: area/tests

Created new argument to skip Ansible setup in install script.
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
  install_dot_files.sh
Labels: area/github, area/dotfiles

Fixed failing bats test
  tests/test-bashutils.bats
Labels: area/tests

Fixed new xclip error
  .github/workflows/pre-commit.yaml
  tests/test-bashutils.bats
Labels: area/github, area/tests

Add mocks for failing bats test
  tests/test-bashutils.bats
Labels: area/tests

.github/labeler.yaml:

---
# Area
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: ".pre-commit-config.yaml"
area/license:
  - changed-files:
      - any-glob-to-any-file: "LICENSE"
area/readme:
  - changed-files:
      - any-glob-to-any-file: "README.md"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: "Taskfile.yaml"
area/tests:
  - changed-files:
      - any-glob-to-any-file: "tests/**/*"
area/files:
  - changed-files:
      - any-glob-to-any-file: "files/**/*"
area/templates:
  - changed-files:
      - any-glob-to-any-file: "templates/**/*"

# Cloud
area/aws:
  - changed-files:
      - any-glob-to-any-file: [
          "aws",
          "cloud/aws/**/*"
        ]
area/gcloud:
  - changed-files:
      - any-glob-to-any-file: "gcloud"

# Development
area/go:
  - changed-files:
      - any-glob-to-any-file: "go"
area/python:
  - changed-files:
      - any-glob-to-any-file: "python"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform"
area/autocomplete:
  - changed-files:
      - any-glob-to-any-file: "autocomplete"

# Tools and Utils
area/bashutils:
  - changed-files:
      - any-glob-to-any-file: "bashutils"
area/common:
  - changed-files:
      - any-glob-to-any-file: "common"
area/containers:
  - changed-files:
      - any-glob-to-any-file: [
          "containers",
          "docker"
        ]
area/k8s:
  - changed-files:
      - any-glob-to-any-file: "k8s"
area/keeper:
  - changed-files:
      - any-glob-to-any-file: "keeper"
area/1password:
  - changed-files:
      - any-glob-to-any-file: "op"

# Platform Specific
area/android:
  - changed-files:
      - any-glob-to-any-file: "android"
area/macos:
  - changed-files:
      - any-glob-to-any-file: "macos"

# Configuration
area/dotfiles:
  - changed-files:
      - any-glob-to-any-file: [
          "install_dot_files.sh",
          "tmux.conf",
          "zshrc"
        ]

# Style
area/style:
  - changed-files:
      - any-glob-to-any-file: "mdstyle.rb"
